/** {
	background-color: black;
	color: white;
}*/
.blueBackground {
	background-color: cornFlowerBlue;
}
.smallBorder {
	border: 1px solid;
	padding: 10px;
	width: 80%;
}
.largeRedBorder {
	border: 10px solid red;
}
.boldOrangeFont {
	font-weight: bold;
	color: orange;
}
.greenBackground {
	background-color: green;
}
.seventyWidth {
	width: 70%;
}
.redBackground {
	background-color: red;
}
.yellowBackground {
	background-color: yellow;
}
.thirtyWidth {
	width: 30%;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.cutText {
	background: #FFF;
	margin-top: -20px;
	padding:3px;
	width:9em;
}